@mixin minimo {
    @media (max-width: $minimo) {
        @content;
    }
}

@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin escritorio {
    @media (min-width: $escritorio) {
        @content;
    }
}

@mixin grid ($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}